<div class="main users-new">
  <div class="account-form-container">
    <h2 class="form-heading">新規ユーザー登録</h2>
    <div class="form users-form">
      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :name, "ユーザー名" %><br/>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <d class="actions">
            <%= f.submit "登録" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
