<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
          <p>ユーザー名</p>
          <%= f.text_field :name, value: @user.name %>
          <p>画像</p>
          <%= f.file_field :image %>
          <p>メールアドレス</p>
          <%= f.text_field :email, value: @user.email %>
          <%= f.submit "保存" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
